.artwork-actions {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 8px;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
}

.artwork-actions .icon-button {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-filter {
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 10px;
    z-index: 10;
}